@font-face {
  font-family: Avenir LT W02 35 Light;
  src: url(avenir.woff);
}

html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Avenir LT W02 35 Light', Helvetica, Arial, sans-serif !important;
}

#map
{
    padding: 0;
}

#header
{
    font-size: 1.3em;   
    padding-left: 1em;
    padding-top: 10px;
    color: white;
    background-color:maroon;
    position:relative;
}
#help
{
    position:absolute;
    top:10px;
    right:10px;
    color:white;
    font-size:.8em;
}
    #help:hover
    {
        cursor: pointer;
        text-decoration: underline;        
    }

#LocateButton
{
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 3;
}

#HomeButton
{
    position: absolute;
    top: 145px;
    left: 20px;
    z-index: 3;
}

#search
{
    display: block;
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 75px;
}

#BasemapToggle, #basemapGallery
{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    background-color:rgba(105, 107, 99, 0.61);
    font-size:.8em;
    /*text-shadow: 1px 1px rgba(0,0,0,0.25);*/
    color:white;
}
.esriBasemapGalleryNode
{
    width:50px;
}
.esriBasemapGalleryThumbnail
{
    height:33px;
    width:50px;
}
#legendDiv
{    
    font-size: .8em;
}

.heading
{
    color: white;
    background-color: #808080;
    width: 95%;
    padding: 5px;
    /*font-family: 'Avenir LT W02 35 Light', Helvetica, Arial, sans-serif;*/
    font-size: 1em;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.spotlight
{
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    opacity: 0;
    box-shadow: inset rgba(0,0,0,0.25) 0px 0px 20px 20px, rgba(0,0,0,0.25) 0px 0px 0px 1000px;
    transition: all 1000ms;
    -moz-transition: all 1000ms;
    -webkit-transition: all 1000ms;
}

.spotlight-active
{
    z-index: 2;
    opacity: 1;
}

#template-wrapper
{
    position:relative;
}
#template-overlay
{
    position:absolute;
    top:0px;
    left:0px;    
    vertical-align:middle;
    font-size:1.2em;
    padding:110px 65px;
    background-color:rgba(0,0,0,0.75);   
    z-index:50;
    color:white;
    display:block;
}

#templateDiv
{
    position:relative;
    padding-left:30px;
}


.templatePicker
{
    border: none;
}

/*.esriAttributeInspector
{
    height: 100px;
}*/


.atiAttributes table
{
width:100%;
}

.atiAttributes td > div
{
    width:100%;
}
    .esriAttributeInspector .atiLayerName
    {
        display: none;
    }

    .esriAttributeInspector .atiButton
    {
        margin-top: 1px;
        margin-right: 45px;
    }


.dj_ie .infowindow .window .top .right .user .content
{
    position: relative;
}

.dj_ie .simpleInfoWindow .content
{
    position: relative;
}


.templatePicker .grid .dojoxGridCell:hover
{
    /*border: 1px solid #7EABCD !important;
    background-color: #aec7e3 !important;*/
    /*-o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    cursor: pointer;
    text-decoration:underline;
}

.instructions
{
    padding-top: 20px;
    font-size: 12px;
}

.undoButtons
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
}

.templatePicker
{
    border: solid 2px #1A84AD !important;
}

.undoIcon
{
    background-image: url(../images/undo.png);
    width: 16px;
    height: 16px;
}

.redoIcon
{
    background-image: url(../images/redo.png);
    width: 16px;
    height: 16px;
}

.step-header
{
    font-size: 1.2em;
    border-bottom: solid 1px #660000;
    width: 100%;    
}
.step-content
{
    margin-top:2em;
}
.steps-wrapper
{    
    font-size:.8em;
}

.step-btn
{
    background-color:#1A84AD;
    color:white;
    width:60%;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    padding:10px;
    font-size:1.1em;
    margin-top:50px;
}
    .step-btn:hover, .step-btn-2:hover
    {
        background-color:#136686;
        text-decoration:underline;
        cursor:pointer;
    }

.step-btn-2
{
    float:left;
    background-color:#1A84AD;
    color:white;
    width:20%;
    margin:1em;   
    text-align:center;
    padding:10px;
    font-size:1.1em;
}
.clear
{
    clear:both;
}
.step-wrapper-overlay
{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:9999;
    background-color:white;
}

.backBtn
{
    font-size:.9em;
    color:#136686;
    padding:10px 0px;
}
    .backBtn:hover
    {
        text-decoration:underline;
        cursor:pointer;
    }

#selectedBarrier
{
    background-color:#f7fce3;
    border:1px solid #919f5b;
    width:92%;
    padding:10px;
}
/*#clearSelection
{
    display:none;
}*/